<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
     <div class="container w-50 my-5">
        <ol class="w-50 bg bg-light fs-4">
          Click User Name To Add Task
        <% user.forEach(function(user){%>
           <li  class="my-2"> <a href="/taks/<%= user.name%>"><%= user.name%></a></li>
            <%})%>
          
        </ol>
        <a class="btn btn-secondary text-decoration-none" href="/get">get data to excel</a>
     </div>
  
</body>

 
</html>